.DS_Store
**/.DS_Store
.pytest_cache/
**/.pytest_cache/
__pycache__/
**/__pycache__/
*.py[cod]
*.so
.venv/
venv/
.env
.vscode/
frontend/node_modules/
frontend/dist/
frontend/[{]src/
backend/.pytest_cache/
data/bhms.db
*.log
*.sqlite3
*.db-journal

data/raw/nasa/5. Battery Data Set/

data/raw/nasa/
data/uploads/
data/models/logs/
data/models/**/search/
data/models/**/optimized/
